.calendar {
  &_header {
    display: flex;
    justify-content: center;
    margin-bottom: 8px;
  }

  &_btn {
    margin: 0 4px;
  }

  &_select {
    margin: 0 4px;
  }

  &_table {
    table-layout: fixed;
    border-collapse: separate;
    border-spacing: 0;
    margin: auto;
  }

  &_th {
    vertical-align: middle;
    text-align: center;
    height: 36px;
  }

  &_day {
    padding: 16px 33px;
    vertical-align: middle;
    text-align: center;
    border: 2px solid transparent;
    position: relative;

    &:hover {
      background-color: #eaeaea;
      cursor: pointer;
    }

    .selected {
      border: 2px solid dodgerblue;
    }

    .today {
      background-color: dodgerblue;
      color: white;

      &:hover {
        background-color: #0081ff;
      }
    }

    .selected {
      border: 2px solid lightgray;
    }
  }

  &_wrapper {
    display: inline-block;
  }

  &_count-events {
    position: absolute;
    right: 0;
    font-size: 12px;
  }

  &_count-events {
    position: absolute;
    top: 4px;
    right: 5px;
    font-size: 14px;
    background-color: rgba(0, 0, 0, .6);
    text-align: center;
    color: #fff;
  }
}